{% assign i = 1 %}
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'sidebar_link' -%}
      {%- if template.name == 'collection' or template.name == 'product' or template.name == 'search' -%}
        {% assign iscategory = 0 %}
        {% for link1 in linklists[block.settings.sidebar_link].links %}
          {% assign iscategory = iscategory | plus: 1 %}
        {% endfor %}
        {%- if iscategory != 0 -%}
          <div class="left-column sidebar-categories">
            <div
              class="left-title clearfix hidden-lg-up ishi-collapsed ishi-collapse in rotate"
              data-href="#subcategories-container"
              data-toggle="collapse"
              aria-expanded="false"
            >
              <span class="h3 block-heading">{{ 'general.category_title.title' | t }}</span>
              <span class="navbar-toggler">{% include 'icons' with 'caret' %}</span>
            </div>
            <div class="section-header sidebar-title hidden-lg-down">{{ 'general.category_title.title' | t }}</div>
            <div
              id="subcategories-container"
              class="left-inner block-categories categories desktop-collapse ishi-collapse"
            >
              <div class="panel-group categories-menu" id="accordion" role="tablist" aria-multiselectable="true">
                {% assign catcount = 0 %}
                {% for link1 in linklists[block.settings.sidebar_link].links %}
                  {% assign catcount = catcount | plus: 1 %}
                  {% assign low_title1 = collection.title | downcase %}
                  {% assign low_title2 = link1.title | downcase %}
                  <div class="panel panel-custom categories-items">
                    <div class="panel-heading" role="tab" id="headingOne-{{catcount}}">
                      <h4 class="panel-title link-title">
                        <a href="{{link1.url}}">{{ link1.title }}</a>
                        {% if linklists[link1.handle].links.size > 0 %}
                          <a
                            class="collapse-icon {% if low_title1 == low_title2 %}rotate ishi-collapse in{% else %}rotate ishi-collapse ishi-collapsed in{% endif %}"
                            data-toggle="collapse"
                            data-href="#collapse-{{catcount}}"
                            {% if low_title1 == low_title2 %}
                              aria-expanded="true"
                            {% else %}
                              aria-expanded="false"
                            {% endif %}
                            data-parent="#accordion"
                          >
                            {% include 'icons' with 'caret' %}
                          </a>
                        {% endif %}
                      </h4>
                    </div>
                    {% assign low_title1 = collection.title | downcase %}
                    {% assign low_title2 = link1.title | downcase %}
                    <div
                      id="collapse-{{catcount}}"
                      class="panel-collapse dropdown-submenu {% if low_title1== low_title2 %} ishi-collapsed {% else %} ishi-collapse {% endif %}"
                      role="tabpanel"
                      aria-labelledby="headingOne-{{catcount}}"
                    >
                      {% for link in linklists[link1.handle].links %}
                        <div class="panel-body category_submenu">
                          <a href="{{ link.url }}" class="dropdown-item">{{ link.title }}</a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}

    {%- when 'filter' -%}
      {%- if template.name == 'collection' or template.name == 'search' %}
        {%- liquid
          assign results = collection
          if template.name == 'search'
            assign results = search
          endif
          assign sort_by = results.sort_by | default: results.default_sort_by
          if results.url
            assign results_url = results.url
          else
            assign terms = results.terms | escape
            assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
          endif
        -%}
        {% if results.filters != empty %}
          <facet-filters-form class="facets small-hide left-column hidden-lg-down">
            <form id="FacetFiltersFormSidebar">
              {%- if results.terms -%}
                <input type="hidden" name="q" value="{{ results.terms | escape }}">
                <input name="options[prefix]" type="hidden" value="last">
                <input type="hidden" name="type" value="product">
              {%- endif -%}
              <div class="collection-facets section-header">
                {%- unless results.filters == empty -%}
                  <h2 class="facets__heading sidebar-title">{{ 'sections.facets.filter_by_label' | t }}</h2>
                {%- endunless -%}
                <a class="btn clear-all" href="{{ results.url }}" style="display:none;">
                  {{- 'sections.facets.clear_all' | t -}}
                </a>
                {%- for filter in results.filters -%}
                  {% case filter.type %}
                    {% when 'list' %}
                      <div
                        class="disclosure-has-popup facets__disclosure js-filter {{ filter.label | remove:" " | downcase }}"
                        data-index="sidebar-{{ forloop.index }}"
                      >
                        <div class="facets__summary">
                          <span>{{ filter.label | escape }}</span>
                        </div>
                        <div class="facets__displays">
                          <input
                            type="checkbox"
                            class="more_toggle hidden"
                            id="sidebar-filter-{{ filter.label | remove:" " | downcase }}"
                          >
                          {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
                          {%- assign size_label = 'size,taille,tamaño,größe,크기,尺寸,størrelse' | split: ',' -%}
                          {%- assign downcase_filter_label = filter.label | downcase -%}
                          <ul
                            class="facets__list list-unstyled{% if color_label contains downcase_filter_label %} color-swatch{% endif %} {% if size_label contains downcase_filter_label %} size-swatch{% endif %} "
                            role="list"
                          >
                            <div class="slimScrolllist">
                              {%- for value in filter.values -%}
                                <li class="list-menu__item facets__item">
                                  <label
                                    for="sidebar-Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                    class="facet-checkbox {% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}"
                                  >
                                    <input
                                      type="checkbox"
                                      name="{{ value.param_name }}"
                                      value="{{ value.value }}"
                                      id="sidebar-Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                      {% if value.active %}
                                        checked
                                      {% endif %}
                                      {% if value.count == 0 and value.active == false %}
                                        disabled
                                      {% endif %}
                                    >
                                    <svg
                                      width="14"
                                      height="14"
                                      viewBox="0 0 14 14"
                                      aria-hidden="true"
                                      focusable="false"
                                    >
                                      <rect width="14" height="14" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                    </svg>
                                    <svg
                                      class="icon icon-checkmark"
                                      width="11"
                                      height="7"
                                      viewBox="0 0 11 7"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    {% if color_label contains downcase_filter_label %}
                                      <span
                                        class="filter-color"
                                        style="background-color: {{ value.label | replace: ' ', '' | downcase }};"
                                      ></span>
                                    {% else %}
                                      <span class="size-box">{{ value.label | escape }}</span>
                                    {% endif %}
                                  </label>
                                </li>
                              {%- endfor -%}
                            </div>
                          </ul>
                        </div>
                      </div>
                    {% when 'price_range' %}
                      {% liquid
                        assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                        assign uses_comma_decimals = false
                        if currencies_using_comma_decimals contains cart.currency.iso_code
                          assign uses_comma_decimals = true
                        endif
                      %}
                      <div
                        class="disclosure-has-popup facets__disclosure js-filter {{ filter.label | remove:" " | downcase }}"
                        data-index="sidebar-{{ forloop.index }}"
                      >
                        <div class="facets__summary">
                          <span>{{ filter.label | escape }}</span>
                        </div>
                        <div class="facets__displays">
                          <price-range class="facets__price">
                            <div class="field">
                              <span class="field__currency">{{ cart.currency.symbol }}</span>
                              <input
                                class="field__input"
                                name="{{ filter.min_value.param_name }}"
                                id="sidebar-Filter-{{ filter.label | escape }}-GTE"
                                {%- if filter.min_value.value -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                  {%- endif %}
                                {%- endif -%}
                                type="number"
                                placeholder="0"
                                min="0"
                                {%- if uses_comma_decimals -%}
                                  max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                {% endif %}
                              >
                              <label class="field__label" for="sidebar-Filter-{{ filter.label | escape }}-GTE">
                                {{- 'sections.facets.from' | t -}}
                              </label>
                            </div>
                            <div class="field">
                              <span class="field__currency">{{ cart.currency.symbol }}</span>
                              <input
                                class="field__input"
                                name="{{ filter.max_value.param_name }}"
                                id="sidebar-Filter-{{ filter.label | escape }}-LTE"
                                {%- if filter.max_value.value -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                  {%- endif %}
                                {%- endif -%}
                                type="number"
                                min="0"
                                {%- if uses_comma_decimals -%}
                                  placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                {% endif %}
                              >
                              <label class="field__label" for="sidebar-Filter-{{ filter.label | escape }}-LTE">
                                {{- 'sections.facets.to' | t -}}
                              </label>
                            </div>
                          </price-range>
                        </div>
                      </div>
                  {% endcase %}
                {%- endfor -%}
              </div>
              {% if results.current_vendor or results.current_type %}
                <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
              {% endif %}
            </form>
          </facet-filters-form>
        {% endif %}
      {% endif %}

    {%- when 'custom_filter' -%}
      {% render 'boldstuff-sidebar-filters', block: block %}

    {%- when 'collection' -%}
      <div class="left-column collection-left">
        <div
          class="left-title clearfix hidden-lg-up ishi-collapse in rotate"
          data-href="#left-colletion-container-{{i}}"
          data-toggle="collapse"
          aria-expanded="true"
        >
          <span class="h3 block-heading">{{ block.settings.product_title | escape }}</span>
          <span class="navbar-toggler collapse-icons">{% include 'icons' with 'caret' %}</span>
        </div>
        <div id="left-colletion-container-{{i}}" class="left-inner left-dropdown ishi-collapse in rotate">
          <div class="sidebar-collection">
            {% if block.settings.product_title != blank %}
              <div class="section-header hidden-lg-down">
                <h2 class="sidebar-title">{{ block.settings.product_title | escape }}</h2>
              </div>
            {% endif %}
            {%- assign side_collection = collections[block.settings.collection] -%}
            {%- assign side_limit = block.settings.grid -%}
            <div class="grid grid--uniform grid--view-items products-display">
              {% for product in side_collection.products limit: side_limit %}
                <div class="grid__item">
                  {% render 'product-card-left',
                    product_card_product: product,
                    media_size: settings.image_ratio,
                    show_secondary_image: settings.show_secondary_image
                  %}
                </div>
              {% endfor %}
            </div>
            {% if block.settings.show_view_all %}
              <div class="view-all">
                <a href="{{ side_collection.url }}" class="view-all-link">
                  {{- 'collections.general.view_all' | t }}
                  {% include 'icons' with 'arrow' -%}
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

    {%- when 'banner' -%}
      <div class="left-column banner">
        <div class="left-banner">
          {% if block.settings.image != blank %}
            <a
              class="ishi-customhover-{{ block.settings.hover1 }} {% if block.settings.scale_enable1 %}scale{% endif %}"
              {% if block.settings.banner_link != blank %}
                href="{{ block.settings.banner_link }}"
              {% else %}
                role="link" aria-disabled="true"
              {% endif %}
            >
              <img
                class="feature-row__image lazyload"
                data-src="{{ block.settings.image | img_url: 'master' }}"
                alt="Banner Image"
              >
            </a>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'ishi-placeholder' }}
          {% endif %}
        </div>
      </div>
  {%- endcase -%}
  {% assign i = i | plus: 1 %}
{%- endfor -%}
