<div id="header" data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="site-header">
    {% if section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_countries.size > 1 or localization.available_languages.size > 1 %}
    <div class="language-currency hidden-lg-down">
       {%- render 'language-currency' -%}
    </div>
    {% endif %}
    <div class="header-top-height hidden-lg-down">
      <div class="header-top site-header-inner ">
        <div class="page-width">
          <div class="row">
            <div id="_desktop_logo" class="hidden-lg-down header-logo-section col-xl-2 col-lg-3">
              {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
              {% endcomment %}
              {% if template.name == 'index' %}
              <h1 class="h2 header__logo" itemscope itemtype="http://schema.org/Organization">
                {% else %}
                <div class="h2 header__logo" itemscope itemtype="http://schema.org/Organization">
                  {% endif %}
                  {% if section.settings.logo %}
                  <a href="/" itemprop="url" class="header__logo-image">
                    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}            
                    <img 
                         src="{{ section.settings.logo | img_url: 'large' }}"
                         alt="Logo"
                         itemprop="logo" style="max-width: 100%;width: {{ section.settings.logo_max_width }}px;">
                  </a>
                  {% else %}
                  <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
                  {% endif %}
                  {% if template.name == 'index' %}
                  </h1>
                {% else %}
                </div>
              {% endif %}
            </div>
            <div class="megamenu-header col-xl-8 col-lg-6 col-md-12 hidden-lg-down">
              {% include 'megamenu' %}
            </div>
            <div class="hidden-lg-down header-right col-xl-2 col-lg-3">
              <div id="_desktop_search" class="site-header__search hidden-lg-down">
                {% include 'search-form' %}
              </div>
              {% if shop.customer_accounts_enabled %}
              <div id="_desktop_user_info" class="user_info">
                  {% if customer %}
                    <a class="userinfo-title clearfix" href="/account">
                      {% else %}
                      <div class="userinfo-title clearfix" data-toggle="popover" aria-expanded="false" data-href="#user-notification" >
                        {% endif %}
                  <span class="userinfo-toggle hidden-lg-down">{% include 'icons' with 'user-desktop' %}</span>
                  <span class="userinfo-toggle hidden-lg-up">{% include 'icons' with 'user-mobile' %}</span>
                  {% if customer %}
                  </a>
                {% else %}
                </div>
              {% endif %}
                <div id="user-notification" class="toggle-dropdown">
                  {%- render 'user-notification' -%}
                </div>
              </div>
              {% endif %}
              <div id="_desktop_cart" class="cart_info">
                   {% if template != "cart" and template != "404" and settings.enable_cartdrawer %}
                  <div class="cart-display cart-drawer-toggler" id="cart-icon-bubble" >
                  {% else %}
                  <a class="cart-display ajax-cart-disabled" id="cart-icon-bubble" href="/cart">
                   {% endif %}
                <span class="cart-logo">
                    <span class="hidden-lg-down">
                      {% include 'icons' with 'shopping-cart-desktop' %}
                    </span>
                    <span class="hidden-lg-up">
                      {% include 'icons' with 'shopping-cart-mobile' %}
                    </span>
                  </span>
                  {%- if cart != empty -%}
                  <div class="cart-count-bubble">
                    {%- if cart.item_count < 100 -%}
                    <span aria-hidden="true">{{ cart.item_count }}</span>
                    {%- endif -%}
                    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                  {%- endif -%}
                  {% if template != "cart" and template != "404" and settings.enable_cartdrawer %}
                </div>
                {% else %}
                  </a>
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile_top_menu_wrapper" class="hidden-lg-up" style="display:none;">
      <div id="top_menu_closer" class="hidden-lg-up">
        {% include 'icons' with 'close' %}
      </div>
      <div  id="_mobile_top_menu" class="js-top-menu mobile"></div>
      <div id= "_mobile_localization" class="header__localization"></div>
    </div>
    <div class="mobile-menu-overlay hidden-lg-up"></div>
    <div class="mobile-navmenu hidden-lg-up">
      <div class="mobile-width">
        <div class="page-width">
          <div class="row">
            <div class="mobile-width-left">
              <div id="menu-icon" class="menu-icon hidden-lg-up">
                {% include 'icons' with 'setup' %}
              </div>
              <div id= "_mobile_search"></div>
            </div>
            <div id="_mobile_logo" class="header-logo-section"></div>
            <div class="mobile-width-right">
              <div id= "_mobile_user_info"></div>
              <div id= "_mobile_cart" class="cart_info"></div> 
            </div>
          </div>
        </div>
      </div>
    </div>
     {% if settings.enable_cartdrawer %}
      {%- render 'cart-notification' -%}
    {% endif %}                 
  </header>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header Layout1",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Theme Logo Image",
      "info": "Size: 113px X 37px"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Max Logo Width",
      "default": "165",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
	{
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](\/admin\/settings\/payments)"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "Enable Currency selector"
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](\/admin\/settings\/languages)"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "Enable language selector"
    }
    
  ],
"blocks": [
  {
    "type": "text_block",
    "name": "Menu Item",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Top Heading"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Top Heading Link"
    },
    {
      "type": "checkbox",
      "id": "blog_show_new",
      "label": "Show New Tag",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_sale",
      "label": "Show Sale Tag",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_hot",
      "label": "Show Hot Tag",
      "default": false
    },
    {
        "type": "header",
        "content": "Column-1 Settings"
    },
    {
      "type": "link_list",
      "id": "navbar",
      "label": "Collection"
    },
    {
      "type": "url",
      "id": "button_link1",
      "label": "Link"
    },
    {
        "type": "header",
        "content": "Column-2 Settings"
    },
    {
      "type": "link_list",
      "id": "navbar1",
      "label": "Collection"
    },
    {
      "type": "url",
      "id": "button_link2",
      "label": "Link"
    },
    {
        "type": "header",
        "content": "Column-3 Settings"
    },
    {
      "type": "link_list",
      "id": "navbar2",
      "label": "Collection"
    },
    {
      "type": "url",
      "id": "button_link3",
      "label": "Link"
    },
    {
        "type": "header",
        "content": "Column-4 Settings"
    },
    {
      "type": "link_list",
      "id": "navbar3",
      "label": "Collection"
    },
    {
      "type": "url",
      "id": "button_link4",
      "label": "Link"
    },
	{
        "type": "header",
        "content": "Column-5 Settings"
    },
    {
      "type": "link_list",
      "id": "navbar4",
      "label": "Collection"
    },
    {
      "type": "url",
      "id": "button_link5",
      "label": "Link"
    },
    {
        "type": "header",
        "content": "Column-6 Settings"
    },
    {
      "type": "link_list",
      "id": "navbar5",
      "label": "Collection"
    },
    {
      "type": "url",
      "id": "button_link6",
      "label": "Link"
    },
    {
        "type": "header",
        "content": "Product Settings"
    },
    {
      "type": "checkbox",
      "id": "blog_show_collection",
      "label": "Enable Product",
      "default": false
    },
    {
      "type": "text",
      "id": "collection-title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "collection-titlelink",
      "label": "Link"
    },
    {
      "id": "product",
      "type": "product",
      "label": "Select Your Product"
    },
     {
        "type": "header",
        "content": "Banner Settings"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "url",
      "id": "bannerlink1",
      "label": "Link 1",
      "info": "Optional"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "url",
      "id": "bannerlink2",
      "label": "Link 2",
      "info": "Optional"
    }
    ]
  }
  ]
}
{% endschema %}