<div class="ishistoryblock">
  {% if section.blocks.size > 0 %}
  <div class="page-width story-conent"> 
    {% for block in section.blocks %} 
    <div class="story-block-part">
    <div class="story-part banner-image-{{block.settings.banner_position}} col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="image-container">
          {% if block.settings.bannerimage1 != blank %}
            <a class="media" {% if block.settings.btn_link != blank %}href="{{ block.settings.btn_link }}"{% else %}role="link" aria-disabled="true"{% endif %}
               style="padding-bottom: {{ 1 | divided_by: block.settings.bannerimage1.aspect_ratio | times: 100 }}%;">
            <img 
               class="lazyload" 
               data-src="{{ block.settings.bannerimage1 | img_url: 'master' }}"
               alt="Story Image">
            </a>
          {% else %}
               {{ 'image' | placeholder_svg_tag: 'ishi-placeholder' }}
          {% endif %}
        </div>
     </div>
    <div class="story-information banner-text-{{block.settings.banner_position}} col-lg-6 col-md-12 col-sm-12 col-xs-12">
      {% if block.settings.title1 or block.settings.subtitle != blank %}
         <div class="section-header">
           {% if block.settings.subtitle != blank %}
              <div class="sub-title {{ settings.subtitlefont }}">{{ block.settings.subtitle | escape }}</div>
            {% endif %}
           {% if block.settings.title1 != blank %}
              <h2>{{ block.settings.title1 | escape }}</h2>
           {% endif %}
           </div>
        {% endif %}
        <div class="list-Aboutus-info">
            {% if block.settings.storyblock-desc != blank %}
              {{ block.settings.storyblock-desc }}
             {% endif %}
        </div>
       <div class="story-btn">
        {% if block.settings.story-btn != blank %}
          <a href="{% if block.settings.btn_link != blank %}{{ block.settings.btn_link }}{% else %}/{% endif %}" class="btn">
            {{ block.settings.story-btn }}
          </a>
        {% endif %}
      </div>
    </div>
    </div>
    {% endfor %}
  </div>  
   {% endif %}
</div>  



<style type="text/css"> 
  #shopify-section-{{ section.id }} .story-conent .banner-image-right{
      order: 2;
  }
  #shopify-section-{{ section.id }} .story-conent .banner-text-right{
      order: 1;
  }
  #shopify-section-{{ section.id }} .story-conent .banner-image-left{
      order: 1;
  }
  #shopify-section-{{ section.id }} .story-conent .banner-text-left{
      order: 2;
  }
   @media (min-width: 768px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
    }
   }
   @media (min-width: 992px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.section_top_spacing_desktop }}px;
    }
   }
  
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }}{
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
  @media (min-width: 992px) {
    #shopify-section-{{ section.id }} .story-block-part{
      margin-bottom: {{ section.settings.storyblock_bottom_spacing }}px;
    }
  }
  

</style>


{% schema %}
  {
   "name": "Ishi Story Block",
	"tag": "section",
   "class": "story-block",
   "max_blocks": 8,
   "settings": [
      {
        "type": "range",
        "id": "storyblock_bottom_spacing",
        "label": "Separate section Bottom Spacing",
        "min": -70,
        "max": 70,
        "step": 10,
        "default": 0
     },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
     
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 140,
        "step": 10,
        "default": 140
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
     ],
	"blocks": [
      { 
        "type": "image",
        "name": "Story Block",
        "settings": [
        {
        "type": "image_picker",
        "id": "bannerimage1",
        "label": "Image",
        "info": "Size:570px X 500px"
        },
        {
          "type": "select",
          "id": "banner_position",
          "label": "Image Position",
          "default": "left",
          "options": [
            { "value": "left", "label": "Left"},
            { "value": "right", "label": "Right"}
          ]
        },
         {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Title",
          "default": "New Season"
        },
        {
          "type": "text",
          "id": "title1",
          "label": "Main Title",
          "default": "Make Up Is An Art."
        },
        {
            "type": "html",
            "id": "storyblock-desc",
            "label": "Description",
            "default": "<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p><p>There are many variations passages Lorem Ipsum variatio passages Lorem available, but the majority suffered alteration.</p>"
         },
	     {
          "type": "text",
          "id": "story-btn",
          "label": "Button Label",
          "default": "SHOP NOW"
         },
         {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link"
          } 
        ]
      }
    ],
    "presets": [
      {
        "name": "Ishi Story Block"
      }
    ]
  }
{% endschema %}