
<div class="blogstoryblock">
  <div class="ishistoryblock {% if section.settings.show == 'both' %}col-xl-6 col-lg-12 col-md-12{% elsif section.settings.show == 'test' %}col-lg-12 col-md-12 sol-sm-12 test-full{% else %}not-show{% endif %}">
    <div class="story-conent"> 
      <div class="image-container">
        {% if section.settings.bannerimage1 != blank %}
        <a class=" {% if section.settings.banner1_scale_enable %}scale{% endif %}" {% if section.settings.btn_link != blank %}href="{{ section.settings.btn_link }}"{% else %}role="link" aria-disabled="true"{% endif %}>
          <img
               class="lazyload"
               data-src="{{ section.settings.bannerimage1 | img_url: 'master'}}"
               alt="Video Image">
        </a>
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'ishi-placeholder' }}
        {% endif %}
      </div>
      {% if section.settings.video_url != blank %}
      <div class="video-play-icon">
        <a class="video" href="{{ section.settings.video_url }}">
          <span class="ripple-effect">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
          </span>
        </a> 
      </div>
      {% endif %}
    </div>  
  </div>  

  <div class="smartblog {% if section.settings.blogimages %}blogimages lazyload{% else %}blog-color{% endif %} {% if section.settings.show == 'both' %}col-xl-6 col-lg-12 col-md-12{% elsif section.settings.show == 'blog' %}col-lg-12 col-md-12 sol-sm-12 deal-full{% else %}not-show{% endif %}"
       {% if section.settings.blogimages %} data-bg="{{ section.settings.blogimages | img_url: 'master' }}" {% endif %}>
    <div class="page-width">
      <div class="products_block_inner row">
        {% if section.settings.title1 or section.settings.subtitle != blank %}
        <div class="section-header center">
          {% if section.settings.subtitle != blank %}
          <div class="sub-title {{ settings.subtitlefont }}">{{ section.settings.subtitle | escape }}</div>
          {% endif %}
          {% if section.settings.title1 != blank %}
          <h2>{{ section.settings.title1 | escape }}</h2>
          {% endif %}
        </div>
        {% endif %}

        {%- assign blog = blogs[section.settings.blog] -%}
        {% unless blog.articles_count == 0 %}
        <div class="smartblog-carousel-{{ section.id }} smartblog-carousel owl-carousel slider-with-options owl-theme"
             data-small="1" 
             data-mobile="1" 
             data-tablet="1" 
             data-laptop="1"  
             data-desktop="1"
             data-rewind="true"
             data-autoplay="false"
             data-nav="false"
             data-dots="true"
             data-loop="false"
             data-margin="30">
          {% for article in blog.articles limit: section.settings.post_limit %}
          <div class="item sds_blog_post">
            <div class="blog_post">
              {% if article.image %}
              <div class="article__grid-image-wrapper js news_module_image_holder col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="{{ article.url }}">
                  <img
                       class="article__grid-image lazyload"
                       data-src="{{ article.image | img_url: '870x588' }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-sizes="auto"
                       alt="{{ article.image.alt | escape }}">
                </a>


              </div>
              <noscript>
                <a href="{{ article.url }}" class="article__grid-image-wrapper">
                  {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                </a>
              </noscript>
              {% endif %}

              <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %} blog_content col-lg-8 col-md-6 col-sm-12 col-xs-12">

                <div class="blog_inner">
                  {% if section.settings.blog_show_date != blank %}
                  <div class="smartbloginfo">
                    {% if section.settings.blog_show_date %}
                    <span class="article__date blog_date">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="date">

                        <span class="day_date">{{ article.published_at | date: "%y" }}</span>
                        <span class="day_month">{{ article.published_at | date: "%b" }}</span>
                        <span class="day_year">{{ article.published_at | date: "%Y" }}</span>
                      </span>
                    </span>
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if section.settings.blog_show_author %}
                  <span class="article__author author">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ 'blogs.article.by_author' | t: author: article.author }}
                  </span>
                  {% endif %}
                  {% if section.settings.blog_show_comment %}
                  <span class="comment">
                    <a href="{{ article.url }}#comments">
                      <i class="fa fa-comment" aria-hidden="true"></i>
                      {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                    </a>
                  </span>
                  {% endif %}
                  <h4 class="h3 article__title sds_post_title">
                    <a href="{{ article.url }}">{{ article.title | strip_html}}</a>
                  </h4>
                  <div class="rte article__grid-excerpt desc">
                    {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                    {% else %}
                    {{ article.content | strip_html | truncate: 90 }}
                    {% endif %}
                  </div>
                  <ul class="list--inline article__meta-buttons">
                    <li>
                      <a href="{{ article.url }}" class="btn btn--secondary">
                        {{ 'blogs.article.read_more' | t }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="grid grid--uniform grid--blog">
          {% for i in (1..section.settings.post_limit) %}
          <div class="grid__item medium-up--one-third">
            <div class="article__grid-meta">
              <h2 class="h3 article__title">
                <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
              </h2>

              {% if section.settings.blog_show_author %}
              <span class="article__author">{{ 'homepage.onboarding.blog_author' | t }}</span>
              {% endif %}

              <div class="rte article__grid-excerpt">
                {{ 'homepage.onboarding.blog_excerpt' | t }}
              </div>

              <ul class="list--inline article__meta-buttons">
                <li>
                  <a href="{{ article.url }}" class="btn btn--secondary btn--small">
                    {{ 'blogs.article.read_more' | t }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endunless %}
        {% if section.settings.show_view_all %}
        <div class="text-center view-all-btn">
          <a href="{{ blog.url }}" class="btn">
            {{ 'blogs.article.view_all' | t }}
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</div>




<style type="text/css">
  #shopify-section-{{ section.id }} {
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }

  #shopify-section-{{ section.id }} .smartblog  .section-header>h2{
  	color:{{ section.settings.blog_title }};
  }
  #shopify-section-{{ section.id }} .section-header .sub-title{
  	color:{{ section.settings.blog_subtitle }};
  }
  #shopify-section-{{ section.id }} .section-header>h2:after{
  	background-color:{{ section.settings.blog_subtitle }};
  }
   #shopify-section-{{ section.id }} .sds_post_title a{
    color:{{ section.settings.blog_textcolor1 }};
  }
   #shopify-section-{{ section.id }} .smartbloginfo .blog_date,
  #shopify-section-{{ section.id }} .blog_content .desc{
    color:{{ section.settings.blog_textcolor2 }};
  }
  #shopify-section-{{ section.id }} .blog-color{
    background:{{ section.settings.blog_background }};
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
</style>


<script>
  jQuery(document).ready(function() {

    $('.video').magnificPopup({
    type: 'iframe',
    closeOnBgClick: false, 
    iframe: {
        markup: '<div class="mfp-iframe-scaler">'+
        '<div class="mfp-close"></div>'+
        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
        '<div class="mfp-title">Some caption</div>'+
        '</div>'
    },
    callbacks: {
        markupParse: function(template, values, item) {
            values.title = item.el.attr('title');
        }
    }, 
    // Delay in milliseconds before popup is removed
    removalDelay: 300,

    // Class that is added to popup wrapper and background
    // make it unique to apply your CSS animations just to this exact popup
    mainClass: 'mfp-fade'
  });
  });
</script>

{% schema %}
  {
    "name": "Video + Blog",
	"tag": "section",
    "class": "video-with-blog",
    "settings": [
     {
        "type": "select",
        "id": "show",
        "label": "Show",
        "default": "both",
        "options": [
          { "value": "both", "label": "Video + Blog"},
          { "value": "test", "label": "Only Video Section"},
          { "value": "blog", "label": "Only Blog Section"}
        ]
      },
      {
        "type": "image_picker",
        "id": "bannerimage1",
        "label": "Image",
        "info": "Size:962px X 624px"
      },
      {
        "id": "video_url",
         "type": "video_url",
         "label": "Video URL",
         "accept": ["youtube", "vimeo"],
         "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
	{
        "type": "header",
        "content": "Blog Settings"
      },
       {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title",
        "default": "Articles"
      },
      {
        "type": "text",
        "id": "title1",
        "label": "Main Title",
        "default": "Our Latest Blog"
      },
      {
        "type": "image_picker",
        "id": "blogimages",
        "label": "Background Image",
        "info": "Size: 960px X624px"
      },
      {
        "type": "color",
        "id": "blog_background",
        "label": "Background Color",
        "default": "#fafafa"
      },
      {
        "type": "color",
        "id": "blog_title",
        "label": "Main Title Color",
        "default": "#232323"
      },
	{
        "type": "color",
        "id": "blog_subtitle",
        "label": "Sub Title Color",
        "default": "#d6ac95"
      },
      {
        "type": "color",
        "id": "blog_textcolor1",
        "label": "Text Color1",
        "default": "#222"
      },
      {
        "type": "color",
        "id": "blog_textcolor2",
        "label": "Text Color2",
        "default": "#666666"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 6
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show Author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show Date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comment",
        "label": "Show Comment",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View All' Button",
        "default": false
      },
      {
        "type": "header",
        "content": "Section Bottom Spacing"
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_desktop",
        "label": "Desktop",
        "min": 0,
        "max": 70,
        "step": 10,
        "default": 70
      },
      {
        "type": "range",
        "id": "section_bottom_spacing_mobile",
        "label": "Mobile",
        "min": 0,
        "max": 50,
        "step": 10,
        "default": 30
      }
    ],
	"presets": [
      {
        "name": "Video + Blog"
      }
    ]
  }
{% endschema %}

